.card { background: url('../assets/sprite_cards.png') no-repeat top left; width: 173px; height: 264px;  }
.card.C2C { background-position: 0 0; }
.card.C2D { background-position: -183px 0; }
.card.C2H { background-position: -366px 0; }
.card.C2S { background-position: -549px 0; }
.card.C3C { background-position: -732px 0; }
.card.C3D { background-position: -915px 0; }
.card.C3H { background-position: -1098px 0; }
.card.C3S { background-position: -1281px 0; }
.card.C4C { background-position: -1464px 0; }
.card.C4D { background-position: -1647px 0; }
.card.C4H { background-position: -1830px 0; }
.card.C4S { background-position: -2013px 0; }
.card.C5C { background-position: -2196px 0; }
.card.C5D { background-position: -2379px 0; }
.card.C5H { background-position: -2562px 0; }
.card.C5S { background-position: -2745px 0; }
.card.C6C { background-position: -2928px 0; width: 171px; height: 263px; }
.card.C6D { background-position: -3109px 0; }
.card.C6H { background-position: -3292px 0; }
.card.C6S { background-position: -3475px 0; width: 171px; height: 263px; }
.card.C7C { background-position: -3656px 0; }
.card.C7D { background-position: -3839px 0; width: 171px; height: 263px; }
.card.C7H { background-position: -4020px 0; }
.card.C7S { background-position: -4203px 0; }
.card.C8C { background-position: -4386px 0; }
.card.C8D { background-position: -4569px 0; }
.card.C8H { background-position: -4752px 0; }
.card.C8S { background-position: -4935px 0; }
.card.C9C { background-position: -5118px 0; }
.card.C9D { background-position: -5301px 0; }
.card.C9H { background-position: -5484px 0; }
.card.C9S { background-position: -5667px 0; }
.card.C10C { background-position: -5850px 0; }
.card.C10D { background-position: -6033px 0; }
.card.C10H { background-position: -6216px 0; }
.card.C10S { background-position: -6399px 0; }
.card.CAC { background-position: -6582px 0; }
.card.CAD { background-position: -6765px 0; }
.card.CAH { background-position: -6948px 0; }
.card.CAS { background-position: -7131px 0; }
.card.Cblue_back { background-position: -7314px 0; }
.card.Cgray_back { background-position: -7497px 0; }
.card.Cgreen_back { background-position: -7680px 0; }
.card.CJC { background-position: -7863px 0; }
.card.CJD { background-position: -8046px 0; }
.card.CJH { background-position: -8229px 0; }
.card.CJS { background-position: -8412px 0; }
.card.CKC { background-position: -8595px 0; }
.card.CKD { background-position: -8778px 0; }
.card.CKH { background-position: -8961px 0; width: 171px; height: 263px; }
.card.CKS { background-position: -9142px 0; }
.card.Cpurple_back { background-position: -9325px 0; }
.card.CQC { background-position: -9508px 0; }
.card.CQD { background-position: -9691px 0; }
.card.CQH { background-position: -9874px 0; }
.card.CQS { background-position: -10057px 0; }
.card.Cred_back { background-position: -10240px 0; }
.card.Cyellow_back { background-position: -10423px 0; }